@use "../node_modules/bulma/bulma.sass";
html{
    font-size: 62.5%;

    @media(max-width: 350px){
        font-size: 37%;
    }
}

body{
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    min-height: 100vh;
    background-image: url(../assets/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.button{
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-family: inherit;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
    letter-spacing: 0.5px;
    margin-left: 1.5rem;

    @media(max-width: 500px){
        margin-top: 2.5rem;
    }
}

.app{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 15rem;
   
}

.gran-container{
    @media(max-width: 500px){
        padding: 0 3.2rem;
    }
}